:root {
  --brand-color: #2196f3;
  --brand-background: #2f303a;
  --text-color: #f5f4fa;
  --paragraph-color: #757575;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
  text-decoration: none;
}
.blacktext {
  color: #212121;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
.contact1 {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
}
.contact2 {
  font-weight: 500;
  font-size: 14px;
  color: var(--paragraph-color);
}
.contact1:hover {
  color: var(--brand-color);
}
.contact2:hover {
  color: var(--brand-color);
}
.button {
  cursor: pointer;
}
.bw1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  background: var(--brand-color);
  line-height: 1.876;
}
.p1 .p2 .p3 {
  color: var(--paragraph-color);
}
.s1 {
  color: var(--text-color);
  background: var(--brand-background);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}
body {
  font-family: Roboto;
  color: #212121;
  font-size: 16px;
}

.lorem {
  font-size: 14px;
  font-weight: 700;
  line-height: 0.88;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}
.p1 {
  font-size: 14px;
  line-height: 1.71;
}
.name {
  font-weight: 500;
  line-height: 1.19;
  font-size: 16px;
}

.p2 {
  line-height: 1.19;
  font-size: 16px;
}
.example {
  font-weight: 700;
  font-size: 18px;
  line-height: 0.5;
}
.p3 {
  line-height: 1.88;
  font-size: 16px;
  color: var(--text-color);
}

.bw2 {
  font-weight: 500;
  background: var(--text-color);
  line-height: 1.626;
  font-size: 16px;
}
.bw2:hover {
  background-color: var(--brand-color);
}

footer {
  background: var(--brand-background);
  color: var(--text-color);
  line-height: 1.71;
  font-size: 14px;
}
.whitetext {
  color: var(--text-color);
}
.back {
  line-height: 1.71;
  color: #ffffff;
  opacity: 60%;
}
.back:hover {
  color: var(--brand-color);
}
